@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/theme.css';
@import 'tailwindcss/utilities';

.spotlight-background::before {
	content: '';
	position: absolute;
	inset: 0;
	pointer-events: none;
	background: radial-gradient(
			50% 38.81% at 50% 61.19%,
			rgba(75, 113, 250, 0.12) 0,
			rgba(5, 5, 11, 0) 100%
		),
		radial-gradient(
			50% 36.46% at 50% 36.46%,
			rgba(75, 113, 250, 0.08) 0,
			rgba(5, 5, 11, 0) 100%
		);
	z-index: 100;
}

.cool-animation {
	width: 1440px;
	height: 810px;
	margin: 0 auto;
	z-index: -1;
	position: absolute;
	top: -480px;
	transform: translate(-50%);
	left: 50%;
	-webkit-mask-image: radial-gradient(
		50% 50% at 50% 50%,
		#fff 0%,
		#fff 80.73%,
		rgba(255, 255, 255, 0) 100%
	);
	mask-image: radial-gradient(
		50% 50% at 50% 50%,
		#fff 0%,
		#fff 80.73%,
		rgba(255, 255, 255, 0) 100%
	);
	-webkit-mask-size: cover;
	mask-size: cover;
}

/* styles for testimonials-heart-animation */
.testimonials-heart-animation {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-mask-size: cover;
	mask-size: cover;
}

.testimonials-heart-image,
.testimonials-heart-animation {
	height: 100%;
	width: 100%;
}

.decor-animation-left.lazy-background-image-maskImage {
	-webkit-mask-image: url('/images/heart-animation-left.png');
	mask-image: url('/images/heart-animation-left.png');
}

.decor-animation-right.lazy-background-image-maskImage {
	-webkit-mask-image: url('/images/heart-animation-right.png');
	mask-image: url('/images/heart-animation-right.png');
}

.testimonials-heart-animation div {
	animation: 4s linear infinite;
	display: flex;
	height: 120%;
	left: 50%;
	position: absolute;
	top: 50%;
	transition: 0.45s linear transform;
	width: 200%;
}

@keyframes testimonialsHeartLeftAnimation {
	0% {
		transform: translate(-50%, -50%) rotate(-180deg);
	}
	60%,
	100% {
		transform: translate(-50%, -50%) rotate(-540deg);
	}
}

@keyframes testimonialsHeartRightAnimation {
	0% {
		transform: translate(-50%, -50%) rotate(180deg);
	}
	60%,
	100% {
		transform: translate(-50%, -50%) rotate(540deg);
	}
}

.decor-animation-left .animated-item {
	animation-name: testimonialsHeartLeftAnimation;
	transform: translate(-50%, -50%) rotate(-180deg);
}

.decor-animation-right .animated-item {
	animation-delay: 2s;
	animation-name: testimonialsHeartRightAnimation;
	transform: translate(-50%, -50%) rotate(180deg);
}

.lazy-background-image {
	transition: 1s cubic-bezier(0.6, 0.6, 0, 1) opacity;
}

.testimonials-heart-animation div::before,
.testimonials-heart-animation div::after {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
}

.decor-animation-left .animated-item::before,
.decor-animation-right .animated-item::after {
	background: linear-gradient(
		to right,
		rgba(255, 170, 64, 0.5),
		rgba(156, 64, 255, 0.5),
		rgba(255, 170, 64, 0.5)
	);
}

.marquee-wrap::before {
	background: linear-gradient(
		270deg,
		#030014 0%,
		rgba(3, 0, 20, 0.5) 16.67%,
		rgba(3, 0, 20, 0) 33.33%,
		rgba(3, 0, 20, 0) 50%,
		rgba(3, 0, 20, 0) 66.67%,
		rgba(3, 0, 20, 0.5) 83.33%,
		#030014 100%
	);
	content: '';
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.marquee-wrap.vertical::before {
	background: linear-gradient(
		0deg,
		#030014 0%,
		rgba(3, 0, 20, 0.5) 16.67%,
		rgba(3, 0, 20, 0) 33.33%,
		rgba(3, 0, 20, 0) 50%,
		rgba(3, 0, 20, 0) 66.67%,
		rgba(3, 0, 20, 0.5) 83.33%,
		#030014 100%
	);
}
/* end of styles for testimonials-heart-animation */

/* styles for logo-ripple-animation component */
.smart-background,
.smart-background-lights,
.smart-animation {
	width: 1254px;
	transform: translate(-50%);
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 1;
	pointer-events: none;
}

.smart-background {
	height: 1729px;
}

.lazy-image {
	display: block;
	transition: 1s cubic-bezier(0.6, 0.6, 0, 1) opacity;
}

.smart-line {
	width: 1248px;
	height: 272px;
	position: absolute;
	top: 0;
	transform: translate(-50%);
	left: 50%;
}

.smart-line div {
	width: 300px;
	height: 100%;
	position: absolute;
	top: 0;
	animation: 6s infinite cubic-bezier(0.6, 0.6, 0, 1);
}

@keyframes smart-line-1 {
	0%,
	73.01% {
		transform: translate(-300px);
		opacity: 1;
	}

	40% {
		opacity: 1;
	}
	50% {
		transform: translate(470px);
	}
	73% {
		transform: translate(470px);
		opacity: 0;
	}
}

.smart-line div:first-child {
	left: 0;
	background: linear-gradient(
		to right,
		transparent 0%,
		#6366f1 50%,
		transparent 60%
	);
	transform: translate(-300px);
	animation-name: smart-line-1;
}

@keyframes smart-line-2 {
	0%,
	73.01% {
		transform: translate(300px);
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		transform: translate(-470px);
	}
	73% {
		transform: translate(-470px);
		opacity: 0;
	}
}
.smart-line div:last-child {
	right: 0;
	background: linear-gradient(
		to left,
		transparent 0%,
		#6366f1 50%,
		transparent 60%
	);
	transform: translate(300px);
	animation-name: smart-line-2;
}

.lazy-background-image {
	transition: 1s cubic-bezier(0.6, 0.6, 0, 1) opacity;
}

.logo-ripple-animation .lazy-background-image-maskImage {
	-webkit-mask-image: url('/images/logo-animation-outline.png');
	mask-image: url('/images/logo-animation-outline.png');
	-webkit-mask-size: cover;
	mask-size: cover;
}

.smart-circle {
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	background: linear-gradient(
			180deg,
			rgba(0, 3, 25, 0) 0%,
			rgba(255, 255, 255, 0.04) 100%
		),
		rgba(255, 255, 255, 0.01);
}

@keyframes smart-circle-1 {
	0%,
	100% {
		transform: translate(-50%) scale(1);
	}
	50% {
		transform: translate(-50%) scale(0.891);
	}
}

.smart-circle-1 {
	width: 148px;
	height: 148px;
	top: 83px;
	animation: smart-circle-1 5s infinite cubic-bezier(0.6, 0.6, 0, 1);
}

@keyframes smart-circle-2 {
	0%,
	100% {
		transform: translate(-50%) scale(1);
	}
	50% {
		transform: translate(-50%) scale(0.849);
	}
}

.smart-circle-2 {
	width: 212px;
	height: 212px;
	top: 51px;
	animation: smart-circle-2 5s infinite cubic-bezier(0.6, 0.6, 0, 1);
	animation-delay: 0.5s;
}

.smart-octopus {
	width: 112px;
	height: 112px;
	top: 101px;
	left: 50%;
	transform: translate(-50%);
	position: absolute;
}

.lazy-video {
	transition: 0.75s cubic-bezier(0.6, 0.6, 0, 1) opacity;
	pointer-events: none;
}
/* end of styles for logo-ripple-animation component */
