@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/theme.css';
@import 'tailwindcss/utilities';

.spotlight-background::before {
	content: '';
	position: absolute;
	inset: 0;
	pointer-events: none;
	background: radial-gradient(
			50% 38.81% at 50% 61.19%,
			rgba(75, 113, 250, 0.12) 0,
			rgba(5, 5, 11, 0) 100%
		),
		radial-gradient(
			50% 36.46% at 50% 36.46%,
			rgba(75, 113, 250, 0.08) 0,
			rgba(5, 5, 11, 0) 100%
		);
	z-index: 100;
}

.cool-animation {
	width: 1440px;
	height: 810px;
	margin: 0 auto;
	z-index: -1;
	position: absolute;
	top: -480px;
	transform: translate(-50%);
	left: 50%;
	-webkit-mask-image: radial-gradient(
		50% 50% at 50% 50%,
		#fff 0%,
		#fff 80.73%,
		rgba(255, 255, 255, 0) 100%
	);
	mask-image: radial-gradient(
		50% 50% at 50% 50%,
		#fff 0%,
		#fff 80.73%,
		rgba(255, 255, 255, 0) 100%
	);
	-webkit-mask-size: cover;
	mask-size: cover;
}
